*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Segoe UI',sans-serif;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(180deg,#071823,#0B2737,#103A4C);
    overflow:hidden;
}

/* Fondo */

.background{
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    position:relative;
}

/* Luces */

.background::before,
.background::after{
    content:"";
    position:absolute;
    width:350px;
    height:350px;
    border-radius:50%;
    filter:blur(130px);
    opacity:.20;
}

.background::before{
    background:#18c96f;
    top:-120px;
    left:-120px;
}

.background::after{
    background:#0095ff;
    bottom:-120px;
    right:-120px;
}

/* Tarjeta */

.login-card{

    width:400px;
    padding:45px;

    color:white;
}

/* Logo */

.logo{
    text-align:center;
    font-size:55px;
    margin-bottom:10px;
}

h2{
    text-align:center;
    margin-bottom:10px;
    font-weight:600;
}

p{
    text-align:center;
    color:#9db4c1;
    font-size:14px;
    margin-bottom:35px;
}

/* Campos */

.conjunto{
    margin-bottom:20px;
}

.conjunto label{
    display:block;
    margin-bottom:8px;
    color:#cfd8dc;
    font-size:14px;
    font-weight:500;
}

.conjunto input{

    width:100%;
    padding:14px 16px;

    border:none;
    border-radius:10px;

    background:#213747;

    color:white;
    font-size:15px;

    transition:.3s;
}

.conjunto input::placeholder{
    color:#94a8b3;
}

.conjunto input:focus{

    outline:none;

    background:#2a4556;

    box-shadow:0 0 0 2px #18c96f;
}

/* Recordarme */

.extra{

    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:28px;
    font-size:14px;
}

.remember{
    display:flex;
    align-items:center;
    gap:8px;
    color:#cfd8dc;
}

.extra a{
    text-decoration:none;
    color:#1dd47d;
    transition:.3s;
}

.extra a:hover{
    color:#4af39d;
}

/* Botón */

button{

    width:100%;
    padding:14px;

    border:none;
    border-radius:10px;

    background:#1fc86d;

    color:white;

    font-size:16px;
    font-weight:600;

    cursor:pointer;

    transition:.3s;
}

button:hover{

    transform:translateY(-2px);
}

/* Responsive */

@media(max-width:500px){

    .login-card{

        width:90%;
        padding:35px 25px;
    }

    .extra{
        flex-direction:column;
        align-items:flex-start;
        gap:12px;
    }
}